<h1>Listing Devices | <%= link_to "Installs", install_tracking_installs_path %></h1>

<table>
  <tr>
    <th>Platform</th>
    <th>Hardware string</th>
    <th>Operating system</th>
    <th>Device token</th>
    <th>First User</th>
    <th>No. Users</th>
    <th>Suspicious</th>
    <th>Note</th>
    <th>Banned at</th>
    <th>Ban reason</th>
    <th>Banning identity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @install_tracking_devices.each do |install_tracking_device| %>
  <tr>
    <td><%= install_tracking_device.platform_id %></td>
    <td><%= install_tracking_device.hardware_string %></td>
    <td><%= install_tracking_device.operating_system %></td>
    <td><%= install_tracking_device.device_token %></td>
    <td><% first_user = install_tracking_device.first_user %>
        <% if !first_user.nil? %>
          <%= link_to "#{first_user.address_informal}", first_user %>
        <% end %>
    </td>
    <td><%= install_tracking_device.device_users.count %></td>
    <td><%= install_tracking_device.suspicious %></td>
    <td><%= install_tracking_device.note %></td>
    <td><%= install_tracking_device.banned_at %></td>
    <td><%= install_tracking_device.ban_reason %></td>
    <td><%= install_tracking_device.banning_identity_id %></td>
    <td><%= link_to 'Show', install_tracking_device %></td>
    <td><%= link_to 'Edit', edit_install_tracking_device_path(install_tracking_device) %></td>
    <td><%= link_to 'Destroy', install_tracking_device, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device', new_install_tracking_device_path %>
