<p id="notice"><%= notice %></p>


<h2><%= @install_tracking_device.hardware_string %> <%= @install_tracking_device.operating_system %> of <%= link_to "#{@install_tracking_device.first_user.address_informal}", @install_tracking_device.first_user %><br>
<small><%= @install_tracking_device.device_token %></small></h2>

<p><b>Device Token:</b> <%= @install_tracking_device.device_token %><br/>
   <b>Vendor Token:</b> <%= @install_tracking_device.vendor_token %><br/>
   <b>Advertiser Token:</b> <%= @install_tracking_device.advertiser_token %><br/>
   <b>Hardware Token:</b> <%= @install_tracking_device.hardware_token %></p>
<p><b>Old Token:</b> <%= @install_tracking_device.old_token %></p>


<p>
  <b>Suspicious:</b>
  <%= @install_tracking_device.suspicious || "No" %>
</p>

<% if !@install_tracking_device.note.blank? %>
<p>
  <b>Note:</b>
  <%= @install_tracking_device.note %>
</p>
<% end %>

<% if !@install_tracking_device.banned_at.nil? %>
<p>
  <b>Banned at:</b>
  <%= @install_tracking_device.banned_at %>
  by <%= @install_tracking_device.banning_identity_id %> with reason:
  <%= @install_tracking_device.ban_reason %>
</p>
<% end %>


<% if staff? %>
 
  <h3>Users</h3>
  
  <ul>
 
     <% @install_tracking_device.device_users.first_use_ascending.each do |user| %>
     
       <li><b><%= link_to "#{user.identity.address_informal}", user.identity %></b>
           used the device since <%= time_tag user.first_use_at %> til <%= time_ago_in_words user.last_use_at %> ago
       </li>
     <% end %>
     
  </ul>
  
  
  <h3>Installs</h3>
  
  <ul>
     <% @install_tracking_device.installs.each do |install| %>
       <li><b><%= link_to "#{install.release.client.identifier} v#{install.release.version}", install.release.client %></b>
           <%= link_to "install #{install.app_token}", install %>
           first reported on <%= time_tag install.created_at %>
       </li>
     <% end %>
  </ul>
 
  <h3>Events</h3>
  
  <table>

  </table>
 
 
<% end %>

<%= link_to 'Edit', edit_install_tracking_device_path(@install_tracking_device) %> |
<%= link_to 'Back', install_tracking_devices_path %>
