<h1><%= I18n.translate 'sessions.signin.heading' %></h1>

<%= form_for(:session, :url => sessions_path, :html => { :id => 'loginForm'}) do |f| %>
  <div class="field">
    <%= f.label I18n.translate 'sessions.signin.form.email' %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label I18n.translate 'sessions.signin.form.password' %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit I18n.translate 'sessions.signin.form.submit_button' %>
  </div>
<% end %>
<p><%= I18n.translate 'sessions.signin.new_user.question' %>
   <%= link_to I18n.translate('sessions.signin.new_user.link'), new_identity_path %>  
  
  
<script>
/*
$(document).ready(function()
  { 
    $('#loginForm').submit(function()
    { 
      var username    = $('#session_email').val();
      var password    = $('#session_password').val();

      $.ajax(
        {
          'password' : password,
          'username' : username,
          'url'      : '/identities',
          'type'     : 'GET',
          'success'  : function(){ window.location = '<%= identities_path %>'; },
          'error'    : function(){ alert('Bad Login Details');},
        }
      );

      return false;
    });
  });*/
</script>