<%= form_for(@tracking_callback) do |f| %>
  <% if @tracking_callback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracking_callback.errors.count, "error") %> prohibited this tracking_callback from being saved:</h2>

      <ul>
      <% @tracking_callback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service %><br />
    <%= f.text_field :service %>
  </div>
  <div class="field">
    <%= f.label :remote_ip %><br />
    <%= f.text_field :remote_ip %>
  </div>
  <div class="field">
    <%= f.label :request %><br />
    <%= f.text_area :request %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :refid %><br />
    <%= f.text_field :refid %>
  </div>
  <div class="field">
    <%= f.label :subid %><br />
    <%= f.text_field :subid %>
  </div>
  <div class="field">
    <%= f.label :connected_at %><br />
    <%= f.datetime_select :connected_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
