<h1>Listing tracking_callbacks</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Remote ip</th>
    <th>Request</th>
    <th>Device</th>
    <th>Refid</th>
    <th>Subid</th>
    <th>Connected at</th>
    <th>Created at</th>
  </tr>

<% @tracking_callbacks.each do |tracking_callback| %>
  <tr>
    <td><%= tracking_callback.service %></td>
    <td><%= tracking_callback.remote_ip %></td>
    <td><%= tracking_callback.http_request %></td>
    <td><%= tracking_callback.device_id %></td>
    <td><%= tracking_callback.refid %></td>
    <td><%= tracking_callback.subid %></td>
    <td><%= tracking_callback.connected_at %></td>
    <td><%= tracking_callback.created_at %></td>
  </tr>
<% end %>
</table>

<br />