<h1>Listing keys</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Key</th>
    <th>Number</th>
    <th>Used</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keys.each do |key| %>
  <tr>
    <td><%= key.client_id %></td>
    <td><%= key.key %></td>
    <td><%= key.number %></td>
    <td><%= key.num_used %></td>
    <td><%= link_to 'Show', key %></td>
    <td><%= link_to 'Edit', edit_key_path(key) %></td>
    <td><%= link_to 'Destroy', key, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Key', new_key_path %>
