<div class="stats_overview">

<h1><%= @title %></h1>

<p>
  <b>Net Earnings:</b> <%= number_to_currency @total_net_earnings, format: '%n %u', unit: 'EUR', delimiter: ' ', separator: ',' %>&nbsp;&nbsp;
  <b>Chargebacks:</b>  <%= number_to_currency @total_chargebacks, format: '%n %u', unit: 'EUR', delimiter: ' ', separator: ',' %>&nbsp;&nbsp;
  <br/>
  <b>Details:</b> <%= link_to "Transactions", stats_money_transactions_path %>
</p>

<p><b>Average Age in Days:</b> <%= @average_age %></p>
<p><b>Churn Rate During Month 1 / 2 / 3:</b> 
  <%= (@churn_month1 * 100.0).round %>% / 
  <%= (@churn_month2 * 100.0).round %>% /
  <%= (@churn_month3 * 100.0).round %>% </p>



<h2>N-day Retention Overal</h2>
<div class="retention_chart" style="width: 1240px; height: 200px; background-color: rgba(255,255,255,0.5); border: 1px solid white;">
<%entries = @retention.count.to_f 
  i = -1;
  @retention.each do |percentage| %>
    <div class="retention_chart-bar-frame" style="width: <%= 100.0/entries %>%; height: 100%; float: left;">
      <div class="retention_chart-bar-spacer" style="width: 100%; height: <%= ((1.0-percentage) * 100.0).round %>%;">
      </div>
      <div class="retention_chart-bar-cell" style="background-color: #AAF; width: 100%; height: <%= (percentage * 100.0).round %>%; border: 1px solid white; margin: -1px;">
        <div class="bar-caption" style="margin-top: -18px; text-align: center;"><%= (percentage*100).round %>%</div>
      </div>
    </div>
<% end %>
</div>

<div class="clear"></div>

<h2>Churn on Day X Overal</h2>
<div class="retention_chart" style="width: 1240px; height: 200px; background-color: rgba(255,255,255,0.5); border: 1px solid white;">
<%entries = @churn.count.to_f 
  i = -1;
  @churn.each do |percentage| %>
    <div class="retention_chart-bar-frame" style="width: <%= 100.0/entries %>%; height: 100%; float: left;">
      <div class="retention_chart-bar-spacer" style="width: 100%; height: <%= ((1.0-percentage) * 100.0).round %>%;">
      </div>
      <div class="retention_chart-bar-cell" style="background-color: #AAF; width: 100%; height: <%= (percentage * 100.0).round %>%; border: 1px solid white; margin: -1px;">
        <div class="bar-caption" style="margin-top: -18px; text-align: center;"><%= (percentage*100).round %>%</div>
      </div>
    </div>
<% end %>
</div>

<div class="clear"></div>



<h2>N-day Retention Last 60 days</h2>
<div class="retention_chart" style="width: 1240px; height: 200px; background-color: rgba(255,255,255,0.5); border: 1px solid white;">
<%entries = @retention_60.count.to_f 
  i = -1;
  @retention_60.each do |percentage| %>
    <div class="retention_chart-bar-frame" style="width: <%= 100.0/entries %>%; height: 100%; float: left;">
      <div class="retention_chart-bar-spacer" style="width: 100%; height: <%= ((1.0-percentage) * 100.0).round %>%;">
      </div>
      <div class="retention_chart-bar-cell" style="background-color: #AAF; width: 100%; height: <%= (percentage * 100.0).round %>%; border: 1px solid white; margin: -1px;">
        <div class="bar-caption" style="margin-top: -18px; text-align: center;"><%= (percentage*100).round %>%</div>
      </div>
    </div>
<% end %>
</div>

<div class="clear"></div>


<h2>Churn on day X Last 60 days</h2>
<div class="retention_chart" style="width: 1240px; height: 200px; background-color: rgba(255,255,255,0.5); border: 1px solid white;">
<%entries = @churn_60.count.to_f 
  i = -1;
  @churn_60.each do |percentage| %>
    <div class="retention_chart-bar-frame" style="width: <%= 100.0/entries %>%; height: 100%; float: left;">
      <div class="retention_chart-bar-spacer" style="width: 100%; height: <%= ((1.0-percentage) * 100.0).round %>%;">
      </div>
      <div class="retention_chart-bar-cell" style="background-color: #AAF; width: 100%; height: <%= (percentage * 100.0).round %>%; border: 1px solid white; margin: -1px;">
        <div class="bar-caption" style="margin-top: -18px; text-align: center;"><%= (percentage*100).round %>%</div>
      </div>
    </div>
<% end %>
</div>

</div>

