<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Willkommen auf der Warteliste zu Wack-a-doo, <%= @identity.address_informal %></h1>
    
    <p>
<%if @invitation%>
  Du hast versucht, Dich mit dem Einladungscode <%=@invitation%> anzumelden.
  Leider ist das Kontingent für diesen Code bereits verbraucht. 
<%else%>
  Du hast Dich erfolgreich bei wack-a-doo.de angemeldet. 
  Im Moment sind allerdings alle Plätze im Spiel belegt.
<%end%>
  Aus diesem Grund haben wir Dich mit Deiner Email-Adresse <%= @identity.email %> auf die 
  Warteliste gesetzt und werden Dich freischalten, sobald weitere Plätze
  verfügbar werden. Wir werden Dich darüber in einer weiteren Email informieren.</p>

    <p>
Bitte sei so nett und bestätige Deine Emailadresse und Identität innerhalb
der nächsten 72 Stunden durch einen Klick auf folgenden
Link: <a href="<%= @validation_url %>"><%= @validation_url %></a>
    </p>

  </body>
</html>
