<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @game_game_instance.game_id %>
</p>

<p>
  <b>Scope:</b>
  <%= @game_game_instance.scope %>
</p>

<p>
  <b>Number:</b>
  <%= @game_game_instance.number %>
</p>

<p>
  <b>Name:</b>
  <%= @game_game_instance.name %>
</p>

<p>
  <b>Localized name:</b>
  <%= @game_game_instance.localized_name %>
</p>

<p>
  <b>Description:</b>
  <%= @game_game_instance.description %>
</p>

<p>
  <b>Localized description:</b>
  <%= @game_game_instance.localized_description %>
</p>

<p>
  <b>Available since:</b>
  <%= @game_game_instance.available_since %>
</p>

<p>
  <b>Started at:</b>
  <%= @game_game_instance.started_at %>
</p>

<p>
  <b>Ended at:</b>
  <%= @game_game_instance.ended_at %>
</p>

<p>
  <b>Signin enabled:</b>
  <%= @game_game_instance.signin_enabled %>
</p>

<p>
  <b>Signup enabled:</b>
  <%= @game_game_instance.signup_enabled %>
</p>

<p>
  <b>Insider only:</b>
  <%= @game_game_instance.insider_only %>
</p>

<p>
  <b>Testing:</b>
  <%= @game_game_instance.testing %>
</p>

<p>
  <b>Speed factor:</b>
  <%= @game_game_instance.speed_factor %>
</p>

<p>
  <b>Estimated duration min:</b>
  <%= @game_game_instance.estimated_duration_min %>
</p>

<p>
  <b>Estimated duration max:</b>
  <%= @game_game_instance.estimated_duration_max %>
</p>

<p>
  <b>Multi language:</b>
  <%= @game_game_instance.multi_language %>
</p>

<p>
  <b>Language codes:</b>
  <%= @game_game_instance.language_codes %>
</p>

<p>
  <b>Max players:</b>
  <%= @game_game_instance.max_players %>
</p>

<p>
  <b>Present players:</b>
  <%= @game_game_instance.present_players %>
</p>

<p>
  <b>Hidden:</b>
  <%= @game_game_instance.hidden %>
</p>

<p>
  <b>Hidden for non insiders:</b>
  <%= @game_game_instance.hidden_for_non_insiders %>
</p>

<p>
  <b>Restriction country codes:</b>
  <%= @game_game_instance.restriction_country_codes %>
</p>

<p>
  <b>Restriction language codes:</b>
  <%= @game_game_instance.restriction_language_codes %>
</p>

<p>
  <b>Restriction latitude:</b>
  <%= @game_game_instance.restriction_latitude %>
</p>

<p>
  <b>Restriction longitude:</b>
  <%= @game_game_instance.restriction_longitude %>
</p>

<p>
  <b>Restriction latitude max:</b>
  <%= @game_game_instance.restriction_latitude_max %>
</p>

<p>
  <b>Restriction longitude max:</b>
  <%= @game_game_instance.restriction_longitude_max %>
</p>

<p>
  <b>Restriction distance to position:</b>
  <%= @game_game_instance.restriction_distance_to_position %>
</p>

<p>
  <b>Restriction postal code:</b>
  <%= @game_game_instance.restriction_postal_code %>
</p>

<p>
  <b>Server types:</b>
  <%= @game_game_instance.server_types %>
</p>


<%= link_to 'Edit', edit_game_game_instance_path(@game_game_instance) %> |
<%= link_to 'Back', game_game_instances_path %>
