<p id="notice"><%= notice %></p>

<p>
  <b>Identity:</b>
  <%= @shop_fb_payments_log.identity_id %>
</p>

<p>
  <b>Payment:</b>
  <%= @shop_fb_payments_log.payment_id %>
</p>

<p>
  <b>Username:</b>
  <%= @shop_fb_payments_log.username %>
</p>

<p>
  <b>Fb user:</b>
  <%= @shop_fb_payments_log.fb_user_id %>
</p>

<p>
  <b>Action type:</b>
  <%= @shop_fb_payments_log.action_type %>
</p>

<p>
  <b>Status:</b>
  <%= @shop_fb_payments_log.status %>
</p>

<p>
  <b>Currency:</b>
  <%= @shop_fb_payments_log.currency %>
</p>

<p>
  <b>Amount:</b>
  <%= @shop_fb_payments_log.amount %>
</p>

<p>
  <b>Time created:</b>
  <%= @shop_fb_payments_log.time_created %>
</p>

<p>
  <b>Time updated:</b>
  <%= @shop_fb_payments_log.time_updated %>
</p>

<p>
  <b>Product url:</b>
  <%= @shop_fb_payments_log.product_url %>
</p>

<p>
  <b>Quantity:</b>
  <%= @shop_fb_payments_log.quantity %>
</p>

<p>
  <b>Country:</b>
  <%= @shop_fb_payments_log.country %>
</p>

<p>
  <b>Sandbox:</b>
  <%= @shop_fb_payments_log.sandbox %>
</p>

<p>
  <b>Fraud status:</b>
  <%= @shop_fb_payments_log.fraud_status %>
</p>

<p>
  <b>Payout foreign exchange rate:</b>
  <%= @shop_fb_payments_log.payout_foreign_exchange_rate %>
</p>


<%= link_to 'Edit', edit_shop_fb_payments_log_path(@shop_fb_payments_log) %> |
<%= link_to 'Back', shop_fb_payments_logs_path %>
