
<div class="panel-wrapper">
<div class="panel-heading"><%= I18n.translate 'identities.edit.heading' %></div> 

<%= gravatar_img_tag_for @sanitized_identity[:gravatar_url], :id => 'gravatar-image', :alt => @sanitized_identity[:address_informal], :title => "This is your personal profile image associated with your email. It can be changed later." %>
<div class="panel">

<%= form_for(@identity) do |f| %>
  <%= render 'shared/error_messages' %>

  <% if @accessible_attributes.include?(:nickname)%>
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.nickname' %><br/>
    <%= f.text_field :nickname %>
  </div>
  <% end %>
  
  <% if @accessible_attributes.include?(:staff)%>
  <div class="field">
    <%= f.check_box :staff %>
    <%= f.label I18n.t 'identities.edit.form.staff' %>
  </div>
  <% end %>

  <% if @accessible_attributes.include?(:admin)%>
  <div class="field">
    <%= f.check_box :admin %>
    <%= f.label I18n.t 'identities.edit.form.admin' %>
  </div>
  <% end %>

  <% if @accessible_attributes.include?(:firstname)%>  
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.firstname' %><br/>
    <%= f.text_field :firstname %>
  </div>
  <% end %>
  
  <% if @accessible_attributes.include?(:surname)%>
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.surname' %><br/>
    <%= f.text_field :surname %>
  </div>
  <% end %>

  <% if @accessible_attributes.include?(:email)%>
    <div class="field">
      <%= f.label I18n.t 'identities.edit.form.email' %><br/>
      <%= f.text_field :email %>
    </div>
  <% end %>

  <% if @accessible_attributes.include?(:insider_since)%>
    <div class="field">
      <%= f.label I18n.t 'identities.edit.form.insider_since' %><br/>
      <%= f.check_box :insider? %>
    </div>
  <% end %>


  <% if @accessible_attributes.include?(:banned)%>
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.banned' %><br/>
    <%= f.check_box :banned %>
  </div>
  <% end %>  
  
  <% if @accessible_attributes.include?(:ban_reason)%>
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.ban_reason' %><br/>
    <%= f.text_field :ban_reason %>
  </div>
  <% end %>  
  
  <% if @accessible_attributes.include?(:password)%>
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.password' %><br/>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.password_confirmation' %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <% end %>
  
  
  <% if @accessible_attributes.include?(:gc_player_id)%>
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.gc_player_id' %><br/>
    <%= f.text_field :gc_player_id %>
  </div>
  <% end %>
  
  <% if @accessible_attributes.include?(:gc_rejected_at)%>
    <div class="field">
      <%= f.label I18n.t 'identities.edit.form.gc_rejected' %><br/>
      <%= f.check_box :gc_rejected? %>
    </div>
  <% end %>
  
  <% if @accessible_attributes.include?(:fb_player_id)%>
  <div class="field">
    <%= f.label I18n.t 'identities.edit.form.fb_player_id' %><br/>
    <%= f.text_field :fb_player_id %>
  </div>
  <% end %>
  
  <% if @accessible_attributes.include?(:fb_rejected_at)%>
    <div class="field">
      <%= f.label I18n.t 'identities.edit.form.fb_rejected' %><br/>
      <%= f.check_box :fb_rejected? %>
    </div>
  <% end %>
  
  
  <div class="actions">
    <%= f.submit I18n.t('identities.edit.form.submit_button'), :class => 'button-on-white' %>
  </div>
<% end %>

</div>