<%= will_paginate %>

<div class="container">
  
  <% @identities.each do |identity| %>

    <div class="round identity-badge">
      <%= link_to (gravatar_for identity, 'gravatar-float', :size => 30), identity %>
      <div class="topline"><span class="name"><%= link_to "#{identity.name}", identity %></span><span class="id">#<%= identity.id %></span> </div>
      <div class="email"><%= identity.email %></div>
    </div>

  <% end %>

</div>  

<%= will_paginate %>
