<%= will_paginate %>

<div class="container">
  
  <% @sanitized_identities.each do |identity| %>

    <div class="round identity-badge <%= "role-#{identity[:role_string]}" %>">
      <%= link_to (gravatar_img_tag_for identity[:gravatar_url], :class => 'gravatar-float'), { :action => :show, :id => identity[:id] } %>
      <div class="topline"><span class="name"><%= link_to "#{identity[:address_informal] }",  { :action => :show, :id => identity[:id] } %></span><span class="id">#<%= identity[:id] %></span> </div>
      <div class="email"><%= identity[:email] %></div>
    </div>

  <% end %>

</div>  

<%= will_paginate %>
