

<h1><%= I18n.t 'identities.signup.heading' %></h1>

<%= form_for(@identity) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.nickname' %><br/>
    <%= f.text_field :nickname, :class => 'inline' %> <div class="inline" id="nickname_response"></div>
  </div>
  
  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.email' %><br/>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.password' %><br/>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.password_confirmation' %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit I18n.t 'identities.signup.form.submit_button' %>
  </div>
<% end %>
