

<div class="signup-panel-wrapper">
<div class="signup-heading"><%= I18n.translate 'identities.signup.heading' %></div> 

<img id="gravatar-image" title="This is your personal profile image associated with your email. It can be changed later."></img>
<div class="signup-panel">

<%= form_for(@identity) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.nickname' %><br/>
    <%= f.text_field :nickname, :class => 'inline' %> <div class="inline" id="nickname_response"></div>
  </div>
  
  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.email' %><br/>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.password' %><br/>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t 'identities.signup.form.password_confirmation' %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit I18n.t('identities.signup.form.submit_button'), :class => "button-on-white" %>
  </div>
<% end %>

</div>
</div>


