

<div class="profile">
  <%= gravatar_img_tag_for @options[:gravatar_url], :class => 'gravatar-float', :alt => @options[:address_informal] %>
  <div class="profile-info">
    <h1><%="#{@options[:address_informal]}" %></h1>
        <%="#{@attributes[:firstname]} #{@attributes[:surname]}" unless @attributes[:firstname].blank?  && @attributes[:surname].blank?   %><br />
        <%="#{@attributes[:email]}, " unless @attributes[:email].blank? %> <%= staff? ? "#{@attributes[:identifier]}" : "" %><br />
        <%="joined #{ time_ago_in_words @attributes[:created_at]} ago." if @attributes[:created_at] %>
        <%="activated #{ time_ago_in_words @attributes[:activated]} ago." if @attributes[:activated] %>
        <%="Lived for #{ time_span_in_natural_language @options[:lifetime]}." if !@options[:lifetime].nil? && @options[:lifetime] >= 1.0 %><br/>
        <%="Insider since #{time_ago_in_words @attributes[:insider_since]}" if @attributes[:insider_since] %><br />
        <%="Platinum Lifetime since #{time_ago_in_words @attributes[:platinum_lifetime_since]}" if @attributes[:platinum_lifetime_since] %><br />
        <%="Divine Supporter since #{time_ago_in_words @attributes[:divine_supporter_since]}" if @attributes[:divine_supporter_since] %><br />
        <%="Custon Icon Set: #{@attributes[:image_set_id]}" if @attributes[:image_set_id] %><br />
        <%="Password Token: #{@attributes[:password_token]}" if @attributes[:password_token] %><br />
        <%="GameCenter ID: #{@attributes[:gc_player_id]}" if @attributes[:gc_player_id] %><br />
        <%="Facebook ID: #{@attributes[:fb_player_id]}" if @attributes[:fb_player_id] %><br />

        <%="Earnings: #{@attributes[:earnings]} EUR" if !@attributes[:earnings].blank? && @attributes[:earnings] != 0 %> 
        <%="Number of Payments: #{@attributes[:num_payments]}" if !@attributes[:num_payments].blank? && @attributes[:num_payments] > 0  %><br />


        <%="Banned until #{@attributes[:ban_ended_at]} for #{@attributes[:ban_reason]}" if @attributes[:banned] %><br />
  </div>
        
  <div class="profile-button-bar">
    <% if signed_in? %>
      <%= link_to I18n.t('identities.show.link.edit'), {:action => "edit", :id => @attributes[:id]}, :class => 'button-on-white' if @options[:show_edit_link] %>
      <%= link_to I18n.t('identities.show.link.delete'), {:action => "destroy", :id => @attributes[:id]}, :method => "delete", :confirm => I18n.t('identities.show.confirm.delete'), :class => 'button-on-white' if @options[:show_delete_link] %>
    <% end %>
    <% if signed_in? && staff? %>
      <% @identity.grants.each do |grant| %>
      <%= link_to "Sign in to \"#{ grant.client.name }\"", { :action => "signin", :id => @attributes[:id], :client_id => grant.client.id }, :class => 'button-on-white' %>
      <% end %>
    <%end%><br />
    
    <%if staff? %>
      <p><b>Received <%= @options[:messages_count]%> messages.</b> <%= link_to "Show", identity_messages_path(@attributes[:id]) %></p>
    <%end%>
    
    <h3>History Events</h3>
    <% if @identity.events.empty? %>
      <p>No Events available</p>
    <% else %>
      <table>
      <tr>
        <th>Game ID</th>
        <th>Events</th>
      <% if signed_in? && staff? %>
        <th></th>
        <th></th>
        <th></th>
      <% end %>
      </tr>
      <% @identity.events.each do |event| %>
        <tr>
          <td><%= event.game_id %></td>          
          <td><%= event.localized_description %></td>          
        <% if signed_in? && staff? %>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_resource_history_path(event) %></td>
          <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
        </tr>
      <% end %>
      </table>
    <% end %>
    <% if signed_in? && staff? %>
      <p><%= link_to 'New History Event', new_resource_history_path(:identity_id => @identity) %></p>
    <% end %>
  </end>
  
  <% if staff? %>
    <% if !@devices.nil? && @devices.count > 0 %>
      <h3>Devices</h3>
      <ul>
      <% @devices.each do |device| 
        device_user = device.device_users.find_by_identity_id(@identity.id)
        %>
        <li><b><%= link_to "#{device.hardware_string}, #{device.operating_system}", device %></b> (<%=device.device_token%>)
          
            <% if !device_user.nil? %>
              used since <b><%= time_tag device_user.first_use_at %></b> til <b><%= time_ago_in_words device_user.last_use_at %> ago</b>
            <% end %></br>
            
            <% other_users = device.device_users.find(:all, conditions: ['identity_id <> ?', @identity.id]) %>
            
            <% if !other_users.empty? %>
              also used by: 
              <% other_users.each do |odu| %>
                <%= link_to "#{odu.identity.address_informal}", odu.identity %>
              <% end %>
            
            <% end %>
            
            <ul>
              <% device.installs.each do |install| %>
                <% install_user = install.install_users.find_by_identity_id(@identity.id) 
                   if !install_user.nil? %>
                  <li><%= link_to "#{install.release.client.identifier} v#{install.release.version}", install.release %>, install:
                      <%= link_to "#{install.app_token}", install %>, 
                      <% if !install_user.nil? %>
                        used <%= install_user.sign_in_count %>x since <%= time_tag install_user.first_use_at %> 
                        til <%= time_ago_in_words install_user.last_use_at %> ago
                      <% end %></br>
                      
                      
                      <% other_users = install.install_users.find(:all, conditions: ['identity_id <> ?', @identity.id]) %>

                      <% if !other_users.empty? %>
                        also used by: 
                        <% other_users.each do |odu| %>
                          <%= link_to "#{odu.identity.address_informal}", odu.identity %>
                        <% end %>
                      <% end %>
                  </li> 
                <% end %>
              <% end %>
            </ul>
            
        </li> 
      <% end %>
      </ul>
    <% end %>
  <% end %>
</end>

