

<div class="profile">
  <%= gravatar_img_tag_for @options[:gravatar_url], :class => 'gravatar-float', :alt => @options[:address_informal] %>
  <div class="profile-info">
    <h1><%="#{@options[:address_informal]}" %></h1>
        <%="#{@attributes[:firstname]} #{@attributes[:surname]}" unless @attributes[:firstname].blank?  && @attributes[:surname].blank?   %><br />
        <%="#{@attributes[:email]}, " unless @attributes[:email].blank? %> <%= staff? ? "#{@attributes[:identifier]}" : "" %><br />
        <%="joined #{ time_ago_in_words @attributes[:created_at]} ago." if @attributes[:created_at] %>        
        <%="activated #{ time_ago_in_words @attributes[:activated]} ago." if @attributes[:activated] %><br />
        <%="Password Token: #{@attributes[:password_token]}" if @attributes[:password_token] %><br />
        <%="Banned until #{@attributes[:ban_ended_at]} for #{@attributes[:ban_reason]}" if @attributes[:banned] %><br />
  </div>
        
  <div class="profile-button-bar">
    <% if signed_in? %>
      <%= link_to I18n.t('identities.show.link.edit'), {:action => "edit", :id => @attributes[:id]}, :class => 'button-on-white' if @options[:show_edit_link] %>
      <%= link_to I18n.t('identities.show.link.delete'), {:action => "destroy", :id => @attributes[:id]}, :method => "delete", :confirm => I18n.t('identities.show.confirm.delete'), :class => 'button-on-white' if @options[:show_delete_link] %>
    <% end %>
    <% if signed_in? && staff? %>
      <% @identity.grants.each do |grant| %>
      <%= link_to "Sign in to #{ grant.client.identifier }", { :action => "signin", :id => @attributes[:id], :client_id => grant.client.id }, :class => 'button-on-white' %>        
      <% end %>
    <%end%><br />
    
    <%if staff? %>
      <p><b>Received <%= @options[:messages_count]%> messages.</b> <%= link_to "Show", identity_messages_path(@attributes[:id]) %></p>
    <%end%>
    
    <h3>History Events</h3>
    <% if @identity.events.empty? %>
      <p>No Events available</p>
    <% else %>
      <table>
      <tr>
        <th>Game ID</th>
        <th>Events</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @identity.events.each do |event| %>
        <tr>
          <td><%= event.game_id %></td>          
          <td><%= event.localized_description %></td>          
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_resource_history_path(event) %></td>
          <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
    <p><%= link_to 'New History Event', new_resource_history_path(:identity_id => @identity) %></p>
  </end>
</end>
