

<div class="profile">
  <%= gravatar_img_tag_for @options[:gravatar_url], :class => 'gravatar-float', :alt => @options[:address_informal] %>
  <div class="profile-info">
    <h1><%="#{@options[:address_informal]}" %></h1>
        <%="#{@attributes[:firstname]} #{@attributes[:surname]}" unless @attributes[:firstname].blank?  && @attributes[:surname].blank?   %><br />
        <%="#{@attributes[:email]}" unless @attributes[:email].blank? %><br />
        <%="joined #{ time_ago_in_words @attributes[:created_at]} ago." if @attributes[:created_at] %>        
        <%="activated #{ time_ago_in_words @attributes[:activated]} ago." if @attributes[:activated] %><br />
  </div>

  <div class="profile-button-bar">
    <% if signed_in? %>
      <%= link_to I18n.t('identities.show.link.edit'), {:action => "edit", :id => @attributes[:id]}, :class => 'button-on-white' if @options[:show_edit_link] %>
      <%= link_to I18n.t('identities.show.link.delete'), {:action => "destroy", :id => @attributes[:id]}, :method => "delete", :confirm => I18n.t('identities.show.confirm.delete'), :class => 'button-on-white' if @options[:show_delete_link] %><br />
    <% end %>
  </end>
</end>
