<%= form_for(@resource_waiting_list) do |f| %>
  <% if @resource_waiting_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_waiting_list.errors.count, "error") %> prohibited this resource_waiting_list from being saved:</h2>

      <ul>
      <% @resource_waiting_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :identity_id %><br />
    <%= f.number_field :identity_id %>
  </div>
  <div class="field">
    <%= f.label :key_id %><br />
    <%= f.number_field :key_id %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
