<tr>
  <td><%= log_entry.created_at %></td>
  <td><%= log_entry.event_type %></td>
  <td><%= log_entry.description %></td>
  <td><%= log_entry.affected_table %></td>
  <td><%= log_entry.affected_id %></td>
  <td><%= log_entry.identity_id %></td>
  <td><%= log_entry.role %></td>
  <td><%= log_entry.ip %></td>
</tr>