<h1>Listing redirects</h1>

<table>
  <tr>
    <th>Identity</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Agent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @redirects.each do |redirect| %>
  <tr>
    <td><%= redirect.identity_id %></td>
    <td><%= redirect.origin %></td>
    <td><%= redirect.destination %></td>
    <td><%= redirect.agent %></td>
    <td><%= link_to 'Show', redirect %></td>
    <td><%= link_to 'Edit', edit_redirect_path(redirect) %></td>
    <td><%= link_to 'Destroy', redirect, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Redirect', new_redirect_path %>
