<p id="notice"><%= notice %></p>

<p>
  <b>Identity:</b>
  <%= @stats_money_transaction.identity_id %>
</p>

<p>
  <b>Uid:</b>
  <%= @stats_money_transaction.uid %>
</p>

<p>
  <b>Tstamp:</b>
  <%= @stats_money_transaction.tstamp %>
</p>

<p>
  <b>Updatetstamp:</b>
  <%= @stats_money_transaction.updatetstamp %>
</p>

<p>
  <b>User:</b>
  <%= @stats_money_transaction.user_id %>
</p>

<p>
  <b>Invoice:</b>
  <%= @stats_money_transaction.invoice_id %>
</p>

<p>
  <b>Title:</b>
  <%= @stats_money_transaction.title_id %>
</p>

<p>
  <b>Method:</b>
  <%= @stats_money_transaction.method %>
</p>

<p>
  <b>Carrier:</b>
  <%= @stats_money_transaction.carrier %>
</p>

<p>
  <b>Country:</b>
  <%= @stats_money_transaction.country %>
</p>

<p>
  <b>Offer:</b>
  <%= @stats_money_transaction.offer_id %>
</p>

<p>
  <b>Offer category:</b>
  <%= @stats_money_transaction.offer_category %>
</p>

<p>
  <b>Gross:</b>
  <%= @stats_money_transaction.gross %>
</p>

<p>
  <b>Gross currency:</b>
  <%= @stats_money_transaction.gross_currency %>
</p>

<p>
  <b>Exchange rate:</b>
  <%= @stats_money_transaction.exchange_rate %>
</p>

<p>
  <b>Vat:</b>
  <%= @stats_money_transaction.vat %>
</p>

<p>
  <b>Tax:</b>
  <%= @stats_money_transaction.tax %>
</p>

<p>
  <b>Net:</b>
  <%= @stats_money_transaction.net %>
</p>

<p>
  <b>Fee:</b>
  <%= @stats_money_transaction.fee %>
</p>

<p>
  <b>Ebp:</b>
  <%= @stats_money_transaction.ebp %>
</p>

<p>
  <b>Referrer:</b>
  <%= @stats_money_transaction.referrer_id %>
</p>

<p>
  <b>Referrer share:</b>
  <%= @stats_money_transaction.referrer_share %>
</p>

<p>
  <b>Earnings:</b>
  <%= @stats_money_transaction.earnings %>
</p>

<p>
  <b>Chargeback:</b>
  <%= @stats_money_transaction.chargeback %>
</p>

<p>
  <b>Campaign:</b>
  <%= @stats_money_transaction.campaign_id %>
</p>

<p>
  <b>Transaction payed:</b>
  <%= @stats_money_transaction.transaction_payed %>
</p>

<p>
  <b>Transaction state:</b>
  <%= @stats_money_transaction.transaction_state %>
</p>

<p>
  <b>Comment:</b>
  <%= @stats_money_transaction.comment %>
</p>

<p>
  <b>Scale factor:</b>
  <%= @stats_money_transaction.scale_factor %>
</p>

<p>
  <b>User mail:</b>
  <%= @stats_money_transaction.user_mail %>
</p>

<p>
  <b>Payment transaction uid:</b>
  <%= @stats_money_transaction.payment_transaction_uid %>
</p>

<p>
  <b>Payment state:</b>
  <%= @stats_money_transaction.payment_state %>
</p>

<p>
  <b>Payment state reason:</b>
  <%= @stats_money_transaction.payment_state_reason %>
</p>

<p>
  <b>Payer:</b>
  <%= @stats_money_transaction.payer_id %>
</p>

<p>
  <b>Payer first name:</b>
  <%= @stats_money_transaction.payer_first_name %>
</p>

<p>
  <b>Payer last name:</b>
  <%= @stats_money_transaction.payer_last_name %>
</p>

<p>
  <b>Payer mail:</b>
  <%= @stats_money_transaction.payer_mail %>
</p>

<p>
  <b>Payer zip:</b>
  <%= @stats_money_transaction.payer_zip %>
</p>

<p>
  <b>Payer city:</b>
  <%= @stats_money_transaction.payer_city %>
</p>

<p>
  <b>Payer street:</b>
  <%= @stats_money_transaction.payer_street %>
</p>

<p>
  <b>Payer country:</b>
  <%= @stats_money_transaction.payer_country %>
</p>

<p>
  <b>Payer state:</b>
  <%= @stats_money_transaction.payer_state %>
</p>

<p>
  <b>Hash:</b>
  <%= @stats_money_transaction.hash %>
</p>

<p>
  <b>Seed:</b>
  <%= @stats_money_transaction.seed %>
</p>

<p>
  <b>Partner user:</b>
  <%= @stats_money_transaction.partner_user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @stats_money_transaction.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @stats_money_transaction.updated_at %>
</p>

<p>
  <b>Sent mail alert:</b>
  <%= @stats_money_transaction.sent_mail_alert %>
</p>

<p>
  <b>Sent special offer alert:</b>
  <%= @stats_money_transaction.sent_special_offer_alert %>
</p>

<p>
  <b>Recurring:</b>
  <%= @stats_money_transaction.recurring %>
</p>


<%= link_to 'Edit', edit_stats_money_transaction_path(@stats_money_transaction) %> |
<%= link_to 'Back', stats_money_transactions_path %>
