<!DOCTYPE html>
<html>
<head>
  <title>Wackadoo Identity Provider | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<header>
<nav class="round">
  <ul>
    <% if signed_in? %>
      <li><%= link_to I18n.translate("application.layout.profile"), current_identity %></li>
      <li><%= link_to I18n.translate("application.layout.signout"), signout_path, :confirm => I18n.translate("application.layout.confirm") %></li>
    <%   if staff? %>
      <li><%= link_to I18n.translate("application.layout.index"), :action => "index" %></li>
    <%   end %>  
    <% else %>
      <li><%= link_to I18n.translate("application.layout.signin"), signin_path %></li>
    <% end %>
  </ul>
</nav>  
</header>
  
<section class="round">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>  
</section>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
