<!DOCTYPE html>
<html>
<head>
  <title>5dentity | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=wrapper>
  
<header class="site-header">
  <span class="site-name">5dentity</span>
  
  <nav class="site-navigation">  
  <ul>
    <% if signed_in? %>
      <% if staff? %>
        <li><%= link_to I18n.translate("application.layout.dashboard"), dashboard_path %></li>
        <li><%= link_to I18n.translate("application.layout.clients"), clients_path %></li>
        <li><%= link_to I18n.translate("application.layout.grants"), granted_scopes_path %></li>
        <li><%= link_to I18n.translate("application.layout.keys"), keys_path %></li>
        <li><%= link_to I18n.translate("application.layout.client_names"), client_names_path %></li>
        <li><%= link_to I18n.translate("application.layout.games"), resource_games_path %></li>
        <li><%= link_to I18n.translate("application.layout.waitinglist"), resource_waiting_lists_path %></li>
        <li><%= link_to I18n.translate("application.layout.gifts"), resource_signup_gifts_path %></li>
        <li><%= link_to I18n.translate("application.layout.signups"), resource_signups_path %></li>
        <li><%= link_to I18n.translate("application.layout.index"), identities_path %></li>
      <% end %>
      <li><%= link_to I18n.translate("application.layout.profile"), current_identity %></li>
        <li><%= link_to I18n.translate("application.layout.messages"), messages_path %></li>
      <li><%= link_to I18n.translate("application.layout.signout"), signout_path %></li>
    <% else %>
      <li><%= link_to I18n.translate("application.layout.signin"), signin_path %></li>
    <% end %>
  </ul>
  </nav>  
</header>
  
<section class="content">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>  
</section>

<div class="push clear"></div>
</div>

<div class="clear">&nbsp;</div>

<footer class="site-footer">
  <%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
